body{
    background-color: rgb(133, 36, 36);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.conteudo{
   
}
.cabecalho{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    background-color: red;
    border-radius: 50%;
    width: 250px;
    height: 100px;
    display: inline-block;
    
}
.sobre{
    width: 100%;
    display: inline-block;
    
    
}
.produtos{
    width: 100%;
    display: inline-block;
    
}